/*
#617b9b     dark-blue
#ffffff     white
#ffac37     pumkin-orange
#378aff     light-blue
#ff4b4a     washed-red
*/

/* general */
html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul{
    list-style-type:none;
}

#content{
      max-width:80%;
      margin-left:10%;
}